.title {
  color: white;
}

:host ::ng-deep {
    #datatable {
      .p-datatable {
        border: 1px solid #ccc;
      }
    }
  }
  

:host ::ng-deep {
  #datatable {
    .p-datatable-header {
      background-color: black;
    }
  }
}
